.white-theme{
    a{
      color: black;
      text-decoration: none;
    }
    a:link {
      color: black;
    }

    a:visited {
      color: black;
    }

    a:hover {
      color: black;
    }

    a:active {
      color: black;
    }
}